<h1>Register</h1>

<div class="user">
	
<% form_for @user do |f| %>
  <%= render :partial => "form", :object => f, :locals => { :user => @user } %>
	<br />
  <div class="left_col">&nbsp;</div>
  <%= f.submit "Register", :class => "right_col" %>
<% end %>
<div class="content_below">
I do have already a password, so i need just to <%= link_to "Login", new_user_session_path %>
</div>

</div>