<li><%=eventcode.code%>: <%=eventcode.description%></li>
</div>
<%= f.link_to_remove 	content_tag(:span,"Remove this code", :class => "delete" ), 
	:class => "sexybutton sexysimple sexyeventcode" %>
</div>